# © <%- authorName || projectName %><%- authorEmail && ` <${authorEmail}>` %><%- authorURL && ` (${authorURL})` %>
<%- authorName === 'Latif Sulistyo' ? '# a.k.a. Latipun / Ryuuki\n' : '' %>
*                   <%- `@${githubUser}` %>
